.blog-container {
    display: flexbox;
    float: left;
    width: 60%;
    height: 100%;
    background-color: #283747;
    border-radius: 2%;
    align-content: center;
    overflow-x: auto;
  }

  .blog-list-action-bar {
    width: 70%;
    height: 5%;
    padding-top: 1%;
    padding-bottom: 1%;
    border-radius: 25px;
    border: 5px solid #34495E;
    background-color: black;
    margin-top: 5%;
    margin-left: auto;
    margin-right: auto;
    font-size: 20px;
    font-weight: bold;
    color: green;
}

.blog-list-action-bar:hover {
  color: black;
  background-color: green;
}

.blog-action-button-container {
  width: 90%;
  height: 7%;
  padding: 10px;
  margin: auto;
}

.blog-login-button {
  float: right;
  width: 10%;
  height: 100%;
  border: 1px solid rgb(233, 120, 233);
  border-radius: 15px;
  font-weight: bold;
  color: rgb(233, 120, 233);
}

.blog-login-button:hover {
  color: black;
  background-color: rgb(233, 120, 233);
}

.blog-sign-up-button {
  float: right;
  width: 10%;
  height: 100%;
  border: 1px solid rgb(233, 120, 233);
  border-radius: 15px;
  font-weight: bold;
  color: rgb(233, 120, 233);
}

.blog-sign-up-button:hover {
  color: black;
  background-color: rgb(233, 120, 233);
}