.header-container {
    display: flexbox;
    width: 70%;
    height: 10%;
    border: 5px solid #34495E;
    background-color: black;
    border-top-right-radius: 25px;
    border-bottom-left-radius: 25px;
    margin-top: 5%;
    margin-left: 12.5%;
    padding: 2.5%;
}

.search-container {
    display: flex;
    width: 100%;
}

.search-input-container {
    width: 80%;
    height: 100%;
}

.search-button-container {
    width: 20%;
    height: 100%;
}

.input-search {
    width: 95%;
    height: 30px;
    font-size: 20px;
}

.button-search {
    float: left;
    width: 90%;
    height: 36px;
}

.login-button-container {
    width: 100%;
    height: 30%;
    padding-top: 1%;
    margin-bottom: 1%;
}

.login-button-nav {
    float: right;
}

